@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@300;400;500;600;700&display=swap');

body{
margin:0
}

.hed{
    position: relative;
    z-index: 3;
    background:linear-gradient(rgba(56, 135, 123, 0.6), rgba(9, 24, 59, 0.6));
    display: grid;
    grid-template-columns: 70% 12% 13% 5%;
    position: fixed;
    top: 0;  
    width: 100%;
    height: 14%;
    color: white;
    
  }
  .nomer{
    position: fixed; 
    top: 3%; 
    right: 20%;
  }
  .img25{  
    position: fixed; 
    top: 4.5%; 
    right: 10%;}
  .logo{
    position: fixed; 
    top: 4%; 
    left: 4%;
   }
  /* chtoby ne bylo viden chekbox */
  #menu__tog { 
    opacity: 0; 
  } 
  /*menuda polosalar tik bolyp kalmas ushin */
  #menu__tog:checked + .menu__b > span { 
    transform: rotate(45deg); 
  } 
  /*2polosa bolyp ketpes ushin*/ 
  #menu__tog:checked + .menu__b > span::before { 
    top: 0; 
    transform: rotate(0deg); 
  } 
  #menu__tog:checked + .menu__b > span::after { 
    top: 0; 
    transform: rotate(90deg); 
  } 
  /*menu shygu ushin*/ 
  #menu__tog:checked ~ .menu__bx { 
    right: 0 !important; 
  } 
  .menu__b { 
    position: fixed; 
    top: 6.4%; 
    right: 5%; 
    width:3%; 
    height: 6%; 
    cursor: pointer; 
    z-index: 1; 
  } 
  .menu__b > span, 
  .menu__b > span::before,
  .menu__b > span::after { 
    display: block; 
    position: absolute; 
    width: 100%; 
    height: 2px; 
    background-color:#ffffff; 
    transition-duration: .25s; 
  } 
  .menu__b > span::before { 
    content: ''; 
    top: -8px; 
  } 
  .menu__b > span::after { 
    content: ''; 
    top: 8px; 
  } 
  .menu__bx { 
    display: block; 
    position: fixed; 
    top: 0; 
    right: -100%; 
    width: 300px; 
    height: 100%; 
    margin: 0; 
    padding: 8% 8% 0% 2% ; 
    list-style: none;
    background:   
      linear-gradient(rgba(56, 135, 123,0.8), rgba(9, 24, 59,0.8)); 
    transition-duration: .25s; 
  } 
  .menu__itm { 
    display: block; 
    padding: 12px 24px; 
    color: #ffffff; 
    font-family: 'Roboto', sans-serif; 
    font-size: 20px; 
    font-weight: 600; 
    text-decoration: none; 
    transition-duration: .25s; 
  } 
  .menu__itm:hover { 
    color: #1e574f; 
  }
  .icon{padding-bottom: 5%;}



.about{
background-image: url('https://static.tildacdn.com/tild3039-3936-4966-b330-343266393433/s.svg');
padding-top: 7%;
}
.h1{font-size: 40px;}
.columns{
display: grid;
grid-template-columns: 50% 50%;
}
.columns a{
text-decoration: none;
border-radius: 5px;
color: #09183b;
}
.col1 h4{
font-family: 'Poppins';
font-size: 25px;
background-color: #fffdfd;
border-radius: 3px;
border: 3px #09183b solid;
padding: 7% 1% 3% 3%;
width: 85%;
margin: 5%;
background-color: transparent;

}
.str{
  margin: -6% 1% 5% 0%;
}

.col2 h4{
font-family: 'Poppins';
font-size: 25px; 
background-color: #fffdfd;
border-radius: 3px;
border: 3px #09183b solid;
padding: 7% 1% 3% 1%;
width: 85%;
margin: 5%;
background-color: transparent;

}
.col1 h4:hover{
transform: scale(1.05);
transition: 0.5s;
color: #546894;
}
.col2 h4:hover{
transform: scale(1.05);
transition: 0.5s;
color: #546894;
}
.col1 span{
display: flex;
justify-content: end;
color: #09183b;
}
.col2 span{
display: flex;
justify-content: end;
color: #09183b;
}
.about h1{
font-family: 'Poppins';
color: #09183b;
text-align: center;
}
input[type="text"] {
font-size: 150%;
width: 100%;
border-style: none none solid none;
background-color: transparent;
outline: none;
}
input{
padding-top: 1%;
}
input[type="email"] {
font-size: 150%;
width: 100%;
border-style: none none solid none;
background-color: transparent;
outline: none;
}
input[type="submit"] {
font-size: 120%;
width: 50%;
background-color: #38877b;
color: #ffffff;
border: #38877b;
height: 40px; width: 380px;
font-size: 15px;
margin-top: 5%;  
}
.form{
background: linear-gradient(to bottom left,#09183b,#19534b);
margin:0%  0% 5% 29%;
padding: 0.2%;
width: 45%; height: 55%;

}
.zaiavka{
text-align: center;
color: #09183b;
font-family: 'Poppins';
}
.g1{
margin: 10%;
}
.inp{
border-style: none;
border-bottom:1px solid #19534b;
padding-bottom: 1%;
}
.sub{
 margin-left: 12%;

}

footer{ 
  background-color: #09183b; 
  color:#ffffff; 
  display: grid; 
  grid-template-columns: 40% 60%;
  padding: 3% 0%;
  
} 
.roww{ 
  display: grid; 
  grid-template-rows: 33% 33% 33%; 

} 
.address{ 
  font-size:110%; 
  display: grid; 
  grid-template-columns: 25% 37% 37%; 
} 
.img{ 
  padding: 5% 10%; 
} 

/* MOBILE ADAPTATION 800PX */
@media screen and (max-width: 800px) and (min-width:400px){
  .hed{
      position: fixed;
      width: 768px;
      height: 7%;
    }
    .nomer{display: none;}
    .img25{display: none;}
    .logo{
      position: fixed; 
      top: 1.5%; 
      left: 3%;
      width: 100px;
     }
  
    .btn{
      font-size: 17px;
      padding: 15% 30% 6% 10%;
    }
    .btn1 {height: 40px; width: 400px;} 
   
    .menu__b { 
      position: fixed; 
      top: 3.4%; 
      right: 5%; 
      width:3%; 
      height: 6%; 
      cursor: pointer; 
      z-index: 1; 
    } 
    
      .h1{font-size: 40px;}
      
      
      .col1 h4{ 
        font-size: 24px;
        padding: 7% 1% 2% 3%;
      }
      .str{
        margin: -10% 1% 5% 0%;
      }
      
      .col2 h4{
      font-size: 24px; 
      padding: 7% 1% 2% 1%;
     }
      
      
      
      input[type="text"] {
      font-size: 100%;
      
      }
    
      input[type="email"] {
      font-size: 100%;
     
      }
      input[type="submit"] {
      font-size: 100%;
      width: 50%;
      background-color: #38877b;
      color: #ffffff;
      border: #38877b;
      height: 40px; width: 250px;
      font-size: 15px;
      margin-top: 5%;  
      }
      .sub{
       margin-left: 4%;
      
      }
  footer{ 
      display: grid; 
      grid-template-columns: 25% 75%;
      padding: 3% 0%; 
    } 
    .roww{ 
      display: grid; 
      grid-template-rows: 50% 50%; 
      font-size: 12px;
    } 
    .address{ 
      font-size:110%; 
      display: grid; 
      grid-template-columns: 33% 33% 33%; 
    } 
    .img{ 
      width: 140px; 
    } 
  }
  /* MOBILE ADAPTATION 400PX */
  @media screen and (max-width: 400px) {
  header{ 
      padding-bottom: 8%;
      background-size: 130% ;
    } 
    .hed{ 
      width: 390px;
      height: 5%;
    }
    .nomer{display: none;}
    .img25{display: none;}
    .logo{
      position: fixed; 
      top: 1%; 
      left: 3%;
      width: 70px;
     }
    .btn{
      font-size: 10px;
      padding: 15% 30% 0% 10%;
    }
    .btn1 {
      height: 30px; width: 230px;
      font-size: 7px;
    } 
    
    .menu__b { 
      position: fixed; 
      top: 2.2%; 
      right: 8%; 
      width:3%; 
      height: 6%; 
      cursor: pointer; 
      z-index: 1; 
    } 
    .menu__bx { 
      display: block; 
      position: fixed; 
      top: 0; 
      right: -100%; 
      width: 200px; 
      height: 100%; 
      margin: 0; 
      padding: 8% 8% 0% 2% ; 
      list-style: none;
      background:   
        linear-gradient(rgba(56, 135, 123,0.8), rgba(9, 24, 59,0.8)); 
      transition-duration: .25s; 
    } 
    
    .menu__itm:hover { 
      color: #1e574f; 
    }
    .icon{
      width: 100px;
      padding-left: 5%;
    }
    
  
      .h1{font-size: 30px;}
      .columns{
      display: grid;
      grid-template-columns: 100%;
      }
      
      .col1 h4{
      font-size: 20px;
      }
      .str{
        margin: -7% 1% 5% 0%;
      }
      
      .col2 h4{
      font-size: 20px; 
    }
      
      input[type="text"] {
      font-size: 80%;
     
      }
      input{
      padding-top: 1%;
      }
      input[type="email"] {
      font-size: 80%;
      
      }
      input[type="submit"] {
      height: 40px; width: 180px;
      }
      .form{
      margin:0%  0% 5% 17%;
      width: 65%; height: 55%;
      
      }
      
      .sub{
       margin-left: 4%;
      
      }
  footer{ 
      display: grid; 
      grid-template-columns: 30% ;
      padding: 3% 5% 5% 2%; 
      font-size: 12px;
    } 
    .roww{ 
      display:grid;
      grid-template-rows: 50% 50%;
  
    } 
    .address{ 
      display: grid; 
      grid-template-columns: 36% 42% 22%;
  
       
      
    } 
    .img{ 
      padding: 5% 10%;
      width: 100px; 
    }
   
  } 