@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    margin:0
     }
header{
background-color: #09183b;

}
 .hed{
    position: relative;
    z-index: 1;
    background:linear-gradient(rgba(56, 135, 123, 0.3), rgba(9, 24, 59, 0.3));
    display: grid;
    grid-template-columns: 70% 12% 13% 5%;
    position: fixed; 
    width: 100%;
    height: 14%;
    color: #ffffff;
    
  }
  .nomer{
    position: fixed; 
    top: 3%; 
    right: 20%;
  }
  .img25{  
    position: fixed; 
    top: 4.5%; 
    right: 10%;}
  .logo{
    position: fixed; 
    top: 4%; 
    left: 4%;
   }
  
  /* chtoby ne bylo viden chekbox */
  #menu__tog { 
    opacity: 0; 
  } 
  /*menuda polosalar tik bolyp kalmas ushin */
  #menu__tog:checked + .menu__b > span { 
    transform: rotate(45deg); 
  } 
  /*2polosa bolyp ketpes ushin*/ 
  #menu__tog:checked + .menu__b > span::before { 
    top: 0; 
    transform: rotate(0deg); 
  } 
  #menu__tog:checked + .menu__b > span::after { 
    top: 0; 
    transform: rotate(90deg); 
  } 
  /*menu shygu ushin*/ 
  #menu__tog:checked ~ .menu__bx { 
    right: 0 !important; 
  } 
  .menu__b { 
    position: relative;
    z-index: 2; 
    position: fixed; 
    top: 6.4%; 
    right: 5%; 
    width:3%; 
    height: 6%; 
    cursor: pointer; 
    
  } 
  .menu__b > span, 
  .menu__b > span::before,
  .menu__b > span::after { 
    display: block; 
    position: absolute; 
    width: 100%; 
    height: 2px; 
    background-color:#ffffff; 
    transition-duration: .25s; 
  } 
  .menu__b > span::before { 
    content: ''; 
    top: -8px; 
  } 
  .menu__b > span::after { 
    content: ''; 
    top: 8px; 
  } 
  .menu__bx { 
    display: block; 
    position: fixed; 
    top: 0; 
    right: -100%; 
    width: 300px; 
    height: 100%; 
    margin: 0; 
    padding: 8% 8% 0% 2% ; 
    list-style: none;
    background:   
      linear-gradient(rgba(56, 135, 123,0.8), rgba(9, 24, 59,0.8)); 
    transition-duration: .25s; 
  } 
  .menu__itm { 
    display: block; 
    padding: 12px 24px; 
    color: #ffffff; 
    font-family: 'Roboto', sans-serif; 
    font-size: 20px; 
    font-weight: 600; 
    text-decoration: none; 
    transition-duration: .25s; 
  } 
  .menu__itm:hover { 
    color: #1e574f; 
  }
  .icon{padding-bottom: 5%;}

.all{
background: linear-gradient(to bottom left,#09183b,#0c3a34);
height: 200vh;
padding-top: 10%;
}
.h1{
color: #ffffff;
font-family: 'Poppins';
font-size: 40px;
padding: 2% 5%;
padding-bottom: 5%;
border-bottom: 1px #19534b solid;
}
.bx{
margin-top: 10%;
margin-left:  40%;
position: relative;
width: 200px;
height: 200px;
transform-style: preserve-3d;
animation: animate 20s linear infinite;
}
@keyframes animate{
0%{
    transform: perspective(800px) rotateY(0deg);
}
100%{
    transform: perspective(800px) rotateY(360deg);
}
}
.bx span{
position: absolute;
/* top:0;
left: 0;
right: 0;
bottom: 0; */
width: 100%;
height: 100%;
/* transform-origin: center; */
/* transform-style: preserve-3d; */
transform: rotateY(calc(var(--i)*60deg)) translateZ(300px);

}
.bx span img{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.why{
color:#09183b;
background-image: url("https://static.tildacdn.com/tild3039-3936-4966-b330-343266393433/s.svg");
margin-top: 7%;
font-family: 'Poppins';
margin-left: 6%;
}
.why h1{
    display: flex;
text-align: center;
justify-content: center;
}
.why h3{
font-family:'Times New Roman', Times, serif;
border-bottom: 1px #0c3a34 solid;
padding-bottom: 1%;
margin-top: -1%;
display: flex;
text-align: center;

}
.why img{
margin-right: 3%;
margin-top:-1%;
width: 50px;
height: 50px;
border: 1px solid #0d1e44 ;
border-radius: 10px;
}
.vakans{
background-color: #FFF;
border-radius: 14px;
margin: 10% 7%;
display: grid;
grid-template-columns: 50% 50%;
}
.vakans:hover{
transform: scale(1.05);
transition: 0.5s;
}
.resume{
    width: 550px; height: 350px;
    padding: 0% 0% 4% 7%;
    
}
.txt{
padding: 0% 20% 0% 5%;
font-size: 22px;
color: #09183b;
display: grid;
grid-auto-flow: row;
}
.smotret{
background-color: #09183b;
padding-bottom: 12.5%;
font-size: 20px;
text-align: center;
border-radius: 10px;
color: #FFF;
height: 10%;
width: 60%;
text-decoration: none;
}
.smotret:hover{
color: #808080;
}
.h11{
color: #09183b;
margin: 4%;
font-family: 'Poppins';
border-bottom: 1px #19534b solid;
}
.etapy{
font-family: 'Poppins';
background-color: #ffffff;
}
.etap{
text-align: center;
padding: 5%;
color: #09183b;
font-size: 500%;
}
.col{
display: grid;
grid-template-columns: 50% 50%;
margin: 3% 4%;
padding: 2%;
border: 3px #09183b solid;
border-radius: 10px;
}
.tury{
width:90% ;
height:100% ;
}
.tur{
background-color: #0d1e44;
color: #FFF;
margin-top: 10%;
padding: 5%;
text-align: center;
border-radius: 15px;
width: 25%;
}
.pr{
margin-top: 5%;
color: #09183b;
font-size: 30px;
}
/*ozgermei turady*/
.rev{
/* position: relative; */
transform: translateY(150px);
opacity: 0;
transition: 1s all ease;
}
/*jogalyp ketpes ushin*/
.rev.active{
transform: translateY(0);
opacity: 1;
}

.active.right {
animation: rights 1.2s ease-in;
}
.active.left {
animation: lefts 1.2s ease-in;
}
@keyframes lefts {
0% {
transform: translateX(-100px);
opacity: 0;
}
100% {
transform: translateX(0);
opacity: 1;
}
}

@keyframes rights {
0% {
transform: translateX(100px);
opacity: 0;
}
100% {
transform: translateX(0);
opacity: 1;
}}
footer{ 
  background-color: #09183b; 
  color:#ffffff; 
  display: grid; 
  grid-template-columns: 40% 60%;
  padding: 3% 0%; 
} 
.roww{ 
  display: grid; 
  grid-template-rows: 33% 33% 33%; 

} 
.address{ 
  font-size:110%; 
  display: grid; 
  grid-template-columns: 25% 37% 37%; 
} 
.img{ 
  padding: 5% 10%; 
} 

/* MOBILE ADAPTATION 800PX */
@media screen and (max-width: 800px) and (min-width:400px){
  .hed{
      position: fixed;
      width: 768px;
      height: 7%;
    }
    .nomer{display: none;}
    .img25{display: none;}
    .logo{
      position: fixed; 
      top: 1.5%; 
      left: 3%;
      width: 100px;
     }
  
    .btn{
      font-size: 17px;
      padding: 15% 30% 6% 10%;
    }
    .btn1 {height: 40px; width: 400px;} 
   
    .menu__b { 
      position: fixed; 
      top: 3.4%; 
      right: 5%; 
      width:3%; 
      height: 6%; 
      cursor: pointer; 
      z-index: 1; 
    }
    .all{
      height: 110vh;
      }
      .bx{
      margin-top: 15%;
      margin-left:  38%;
      }
      .why h3{
      padding-bottom: 2%;
      margin-top: -1%;      
      }
      .why img{
      margin-right: 3%;
      margin-top:-2%;
      }
      #sp1{
        margin-left: -1.7%;
      }
      #sp2{
        margin-left: -4.8%;
      }
      .vakans{
      margin: 15% 7% -0% 7%;
      }
      .resume{
          width: 300px; height: 250px;         
      }
      .txt{
      font-size: 20px;
    }
      .smotret{
      padding-bottom: 24%;
      font-size: 20px;
      height: 10%;
      width: 80%;
      margin-left: -110%;
      margin-top: -20%;
      }
      
      .etap{
      font-size: 400%;
      }
      .pr{
      font-size: 25px;
      }
  footer{ 
      display: grid; 
      grid-template-columns: 25% 75%;
      padding: 3% 0%; 
    } 
    .roww{ 
      display: grid; 
      grid-template-rows: 50% 50%; 
      font-size: 12px;
    } 
    .address{ 
      font-size:110%; 
      display: grid; 
      grid-template-columns: 33% 33% 33%; 
    } 
    .img{ 
      width: 140px; 
    } 
  }
  /* MOBILE ADAPTATION 400PX */
  @media screen and (max-width: 400px) {
  header{ 
      padding-bottom: 8%;
      background-size: 130% ;
    } 
    .hed{ 
      width: 390px;
      height: 7%;
    }
    .nomer{display: none;}
    .img25{display: none;}
    .logo{
      position: fixed; 
      top: 1%; 
      left: 3%;
      width: 100px;
     }
    .btn{
      font-size: 10px;
      padding: 15% 30% 0% 10%;
    }
    .btn1 {
      height: 30px; width: 230px;
      font-size: 7px;
    } 
    
    .menu__b { 
      position: fixed; 
      top: 3.2%; 
      right: 8%; 
      width:3%; 
      height: 6%; 
      cursor: pointer; 
      z-index: 1; 
    } 
    .menu__bx { 
      display: block; 
      position: fixed; 
      top: 0; 
      right: -100%; 
      width: 200px; 
      height: 100%; 
      margin: 0; 
      padding: 8% 8% 0% 2% ; 
      list-style: none;
      background:   
        linear-gradient(rgba(56, 135, 123,0.8), rgba(9, 24, 59,0.8)); 
      transition-duration: .25s; 
    } 
    
    .menu__itm:hover { 
      color: #1e574f; 
    }
    .icon{
      width: 100px;
      padding-left: 5%;
    }

    .all{height: 90vh;}
    .h1{font-size: 25px;}
      .bx{
      margin: 20%;
      width: 120px;
      height: 100px;
      } 
      .bx span{
        position: absolute;
        width: 80%;
        height: 80%;
        transform: rotateY(calc(var(--i)*60deg)) translateZ(300px);
        
        }  
      .why{font-size: 15px;}
      
      .why h3{
      display: flex;
      text-align: center;
      justify-content: center;
      }
      .img1{
        margin-left: -11%;
      }
      .img2{
        margin-left: -25%;
      }
      
      .vakans{
        margin: 15% 7% -0% 7%;
        }
        .resume{
          width: 150px; height: 120px;         
        }
        .txt{
          font-size: 13px;
        }
        .smotret{
        padding-bottom: 30%;
        font-size: 12px;
        height: 10%;
        width: 100%;
        margin-left: -115%;
        margin-top: -80%;
        }
      .h11{font-size: 30px;}
      .etapy{font-size: 9px;}
      .pr{
      font-size: 15px;
      }
      
  
  footer{ 
      display: grid; 
      grid-template-columns: 30% ;
      padding: 3% 5% 5% 2%; 
      font-size: 12px;
    } 
    .roww{ 
      display:grid;
      grid-template-rows: 50% 50%;
  
    } 
    .address{ 
      display: grid; 
      grid-template-columns: 36% 38% 26%;
  
       
      
    } 
    .img{ 
      padding: 5% 10%;
      width: 100px; 
    }
   
  } 