@import url('https://fonts.googleapis.com/css2?family=PT Serif:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo :wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
margin: 0;
}
.all{
background: linear-gradient(to bottom left,#09183b,#19534b);
height:160vh;
padding-top: 10%;
}
.h1{
color: #ffffff;
font-family: 'PT Serif';
font-size: 40px;
padding: 2% 5%;
border-bottom: 1px #19534b solid;
}

.rooms{
    padding-top: 3%;
    padding-left: 35%;
}

.rooms #btnback{
width:30px; background-color: transparent; border: 0;  cursor: pointer;
}
.rooms #btnforward{
background-color: transparent; border: 0;  width: 30px; cursor: pointer;
}
#btnback img{
    width: 27px;
    position: absolute;
    left: 3% ; 
    top: 100%; 
    
}
#btnforward img{
    width: 27px;
    position: absolute;
    right: 3%; 
    top: 100%; 
    
}
#description{
    color: #FFF;
    text-align: center;
    position: absolute;
    left:44%;
    font-size: 30px;
}
#inform{
    text-align: center;
color: #FFF;
width: 70%;
position: absolute;
left:14%;
top:135%;
}
.prem{

font-family:'Poppins';
padding-top: 30%;
padding-left: 3%;
color: #09183b;

}
details div {
padding: 2.5em;
}



summary {
list-style: none;
}
summary {
border-top: 1px solid #38877b;
margin-left: 3%;
margin-right: 3%;
font-family:'Poppins';
padding:1%;
cursor: pointer;
position: relative;
padding-left: 5%;
font-size: 25px;
}

summary:before {
position: absolute;
top: 40%;
right: 3%;
content: "↓";
width: 1.75rem;
height: 1.75rem;
background-color:#38877b;
color: #FFF;
display: flex;
justify-content: center;
align-items: center;
/* flex-shrink: 0; */
}

details[open] summary:before {
content: "↑";
}

summary:hover {
background-color: #eee;
}

.numbers{
color: #38877b;
font-family:'Times New Roman', Times, serif;
}
.probel{
    margin-left: 3%;
}

.fit{
display: grid;
grid-template-columns: 52% 48%;
}
.opisanie{
margin-top: 50%;
color: #09183b;
font-family:'Courier New', Courier, monospace;
}
.slidef {
display:inline-block;   
position:relative;
}
.slidef .inform { 
display: none;
position: absolute; 
bottom: 10px; left: 0px; 
background-color: rgba(0,0,0,.4); 
padding: 5px 5px 5px 10px;
color: white
}
.cont:hover .inform {
display: block 
}

.hed{
    background:linear-gradient(rgba(56, 135, 123, 0.3), rgba(9, 24, 59, 0.3));
    display: grid;
    grid-template-columns: 70% 12% 13% 5%;
    position: fixed;
    top: 0;  
    width: 100%;
    height: 14%;
    color: white;
    
  }
  .nomer{
    position: fixed; 
    top: 3%; 
    right: 20%;
  }
  .img25{  
    position: fixed; 
    top: 4.5%; 
    right: 10%;}
  .logo{
    position: fixed; 
    top: 4%; 
    left: 4%;
   }

  /* chtoby ne bylo viden chekbox */
  #menu__tog { 
    opacity: 0; 
  } 
  /*menuda polosalar tik bolyp kalmas ushin */
  #menu__tog:checked + .menu__b > span { 
    transform: rotate(45deg); 
  } 
  /*2polosa bolyp ketpes ushin*/ 
  #menu__tog:checked + .menu__b > span::before { 
    top: 0; 
    transform: rotate(0deg); 
  } 
  #menu__tog:checked + .menu__b > span::after { 
    top: 0; 
    transform: rotate(90deg); 
  } 
  /*menu shygu ushin*/ 
  #menu__tog:checked ~ .menu__bx { 
    right: 0 !important; 
  } 
  .menu__b { 
    position: fixed; 
    top: 6.4%; 
    right: 5%; 
    width:3%; 
    height: 6%; 
    cursor: pointer; 
    z-index: 1; 
  } 
  .menu__b > span, 
  .menu__b > span::before,
  .menu__b > span::after { 
    display: block; 
    position: absolute; 
    width: 100%; 
    height: 2px; 
    background-color:#ffffff; 
    transition-duration: .25s; 
  } 
  .menu__b > span::before { 
    content: ''; 
    top: -8px; 
  } 
  .menu__b > span::after { 
    content: ''; 
    top: 8px; 
  } 
  .menu__bx { 
    display: block; 
    position: fixed; 
    top: 0; 
    right: -100%; 
    width: 300px; 
    height: 100%; 
    margin: 0; 
    padding: 8% 8% 0% 2% ; 
    list-style: none;
    background:   
      linear-gradient(rgba(56, 135, 123,0.8), rgba(9, 24, 59,0.8)); 
    transition-duration: .25s; 
  } 
  .menu__itm { 
    display: block; 
    padding: 12px 24px; 
    color: #ffffff; 
    font-family: 'Roboto', sans-serif; 
    font-size: 20px; 
    font-weight: 600; 
    text-decoration: none; 
    transition-duration: .25s; 
  } 
  .menu__itm:hover { 
    color: #1e574f; 
  }
  .icon{padding-bottom: 5%;}


  footer{ 
    background-color: #09183b; 
    color:#ffffff; 
    display: grid; 
    grid-template-columns: 40% 60%;
    padding: 3% 0%; 
  } 
  .roww{ 
    display: grid; 
    grid-template-rows: 33% 33% 33%; 

  } 
  .address{ 
    font-size:110%; 
    display: grid; 
    grid-template-columns: 25% 37% 37%; 
  } 
  .img{ 
    padding: 5% 10%; 
  } 
  /* MOBILE ADAPTATION 800PX */
@media screen and (max-width: 800px) and (min-width:400px){
  .hed{
      position: fixed;
      width: 768px;
      height: 7%;
    }
    .nomer{display: none;}
    .img25{display: none;}
    .logo{
      position: fixed; 
      top: 1.5%; 
      left: 3%;
      width: 100px;
     }
  
    .btn{
      font-size: 17px;
      padding: 15% 30% 6% 10%;
    }
    .btn1 {height: 40px; width: 400px;} 
   
    .menu__b { 
      position: fixed; 
      top: 3.4%; 
      right: 5%; 
      width:3%; 
      height: 6%; 
      cursor: pointer; 
      z-index: 1; 
    } 
    .all{
      height:100vh;
      
      }
      
      .rooms{
          padding-top: 5%;
          padding-left: 22%;
      }
      #btnback img{
          position: absolute;
          left: 3% ; 
          top: 52%; 
          
      }
      #btnforward img{
          position: absolute;
          right: 3%; 
          top: 52%; 
          
      }
      #description{
          position: absolute;
          left:38%;
      }
      #inform{
      position: absolute;
      left:14%;
      top:90%;
      }  
      .fit img{
        width: 400px;
      }
      .opisanie{
      margin: 5% 0% 0% 15%;
      }
  footer{ 
      display: grid; 
      grid-template-columns: 25% 75%;
      padding: 3% 0%; 
    } 
    .roww{ 
      display: grid; 
      grid-template-rows: 50% 50%; 
      font-size: 12px;
    } 
    .address{ 
      font-size:110%; 
      display: grid; 
      grid-template-columns: 33% 33% 33%; 
    } 
    .img{ 
      width: 140px; 
    } 
  }
  /* MOBILE ADAPTATION 400PX */
  @media screen and (max-width: 400px) {
  header{ 
      
      background-size: 130% ;
    } 
    .hed{ 
      width: 390px;
      height: 7%;
    }
    .nomer{display: none;}
    .img25{display: none;}
    .logo{
      position: fixed; 
      top: 2%; 
      left: 3%;
      width: 70px;
     }
    .btn{
      font-size: 10px;
      padding: 15% 30% 0% 10%;
    }
    .btn1 {
      height: 30px; width: 230px;
      font-size: 7px;
    } 
    
    .menu__b { 
      position: fixed; 
      top: 3.2%; 
      right: 8%; 
      width:3%; 
      height: 6%; 
      cursor: pointer; 
      z-index: 1; 
    } 
    .menu__bx { 
      display: block; 
      position: fixed; 
      top: 0; 
      right: -100%; 
      width: 200px; 
      height: 100%; 
      margin: 0; 
      padding: 8% 8% 0% 2% ; 
      list-style: none;
      background:   
        linear-gradient(rgba(56, 135, 123,0.8), rgba(9, 24, 59,0.8)); 
      transition-duration: .25s; 
    } 
    
    .menu__itm:hover { 
      color: #1e574f; 
    }
    .icon{
      width: 100px;
      padding-left: 5%;
    }
    .all{
      height:74vh;
      padding-top: 20%;
      }
      .h1{
      font-size: 25px;
      }
      
      .rooms{
          padding-top: 3%;
          padding-left: 25%;
          padding-bottom: 30%;
      }
      #image{
        width: 200px;
      }
      #btnback img{
          width: 27px;
          position: absolute;
          left: 3% ; 
          top: 35%; 
          
      }
      #btnforward img{
          width: 27px;
          position: absolute;
          right: 3%; 
          top: 35%; 
          
      }
      #description{
          color: #FFF;
          text-align: center;
          position: absolute;
          left:35%;
          font-size: 18px;
      }
      #inform{
          text-align: center;
      color: #FFF;
      width: 80%;
      position: absolute;
      left:10%;
      top:58%;
      
      }
      .prem{
        font-size: px;}
      details div {
      padding: 1.5em;
      }
      
      .fit img{
        width: 350px;
      } 
      .numbers{
        font-size: 17px;
        margin-right: 7.5%;
      }
      
      .fit{
      display: grid;
      grid-template-rows: 50% 50%;
      }
      .opisanie{
        width:170%;
        margin: 150% 0% 0% -90% ;
      }
      
   
  footer{ 
      display: grid; 
      grid-template-columns: 30% ;
      padding: 3% 5% 5% 2%; 
      font-size: 12px;
    } 
    .roww{ 
      display:grid;
      grid-template-rows: 50% 50%;
  
    } 
    .address{ 
      display: grid; 
      grid-template-columns: 36% 42% 22%;
  
       
      
    } 
    .img{ 
      padding: 5% 10%;
      width: 100px; 
    }
   
  } 
 
